* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
:root {
    --dark-blue : #367da3 ;
    --sky-blue : #1f9cdf ;
    --grey : #ececec ;
    --red : #f44036 ;
    --white : #ffffff ;
    --baby-grey : #ececec6c ;
}
.flex {
    display: flex;
    align-items: center;
}
header {
    width: 100%;
    height: 90px;
    background-color: var(--white);
    justify-content: space-between;
    padding: 10px 0px;
    flex-direction:column;
}
.zero {
    color: var(--sky-blue);
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}
.head-list {
    width: 100%;
    justify-content: center;
}
.head-list ul {
    margin-left: -20px;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    margin-top: 15px;
}
.head-list ul li  {
    width: 22%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.head-list ul li a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: 13.5px;
    padding: 5px;
    transition: background-color 0.5s linear;
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    justify-content: center;
}
.head-list ul li:before {
    content: "";
    width: 0%;
    background-color: var(--sky-blue);
    height: 4px;
    display: flex;
    transition: width 0.2s linear;
    -webkit-transition: width 0.2s linear;
    -moz-transition: width 0.2s linear;
    -ms-transition: width 0.2s linear;
    -o-transition: width 0.2s linear;
}

.head-list ul li a:hover {
    background-color: var(--baby-grey);
}
.head-list ul li:hover:before {
    width: 100%;
}
.font-text {
    flex-direction: row;
    height: 40px;
}
.font-text a {
    color: var(--sky-blue);
    font-weight: bold;
    font-size: 18px;
    margin-left: 15px;
    text-decoration: none;
    cursor:pointer;
}
.other-links div {
    transition: background-color 0.5s linear;
    -webkit-transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    -ms-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    cursor:pointer;
}
.font-text i {
    font-size: 20px;
    margin-left: 25px;
}
.other-links {
    background-color: white;
    visibility: hidden;
    margin-top: 30px;
    transition: margin-top 0.4s ;
    -webkit-transition: margin-top 0.4s ;
    -moz-transition: margin-top 0.4s ;
    -ms-transition: margin-top 0.4s ;
    -o-transition: margin-top 0.4s ;
    z-index: 100;
    border-top: 1px solid rgba(0, 0, 0, 0.171);
}
.other-links img {
    display: none;
}
.other-links div::before {
    content: "";
    width: 0%;
    height: 7%;
    background-color: rgba(0, 0, 0, 0.048);
    position: absolute;
    transition: width 0.1s linear;
    -webkit-transition: width 0.1s linear;
    -moz-transition: width 0.1s linear;
    -ms-transition: width 0.1s linear;
    -o-transition: width 0.1s linear;
}
.other-links div:hover::before {
    width: 100%;
}
hr{
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.11);
}
.intro-background {
    width: 100%;
    height: 515px;
    position: absolute;
    top: 90px;
    z-index: -100;
}
.background {
    width: 100%;
    height: 100%;
    background-color: #eee;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    z-index: -150;
}
.back-text {
    position: absolute;
    top: 250px;
    z-index: -10;
    padding: 0px 60px;
}
.back-text img {
    display: none;
}
.back-text h1 {
    font-size: 23px;
    text-align: center;
    letter-spacing: -1px;
}
.lite-text {
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
    font-size: 17px;
    line-height: 30px;
    margin-top: 10px;
}
.arrow {
    margin: -40px auto 0px;
    width: 15px;
    height: 20px;
    clip-path: polygon(100% 0%, 36% 52%, 100% 100%, 64% 100%, 0 51%, 66% 0);
    background-color: var(--sky-blue);
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    animation: mymove 2s infinite;
    -webkit-animation: mymove 2s infinite;
}
.two {
    margin-top: -8px;
}
.animy {
    position: absolute;
    left: 50%;
    animation: mymove 2s infinite;
    -webkit-animation: mymove 1.3s infinite;
}
@keyframes mymove {
    0% {
        top: 600px;
    }
    40% {
        top: 570px;
    }
    50% {
        top: 600px;
    }
    60%{
        top: 570px;
    }
    100% {
        top: 600px;
    }
}
.articles {
    justify-content: center;
    margin-top: 150px;
    flex-direction: column;
}
.title {
    align-items: center;
    justify-content: space-around;
}
.title-p {
    
    height: 50px;
    border: 2px solid black;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;
}
.title-wide {
    width: 250px;
}
.title-wider {
    width: 300px;
}
.p-wide {
    width: 150px;
}
.p-wider {
    width: 200px;
}
.title-p p {
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.normal {
    font-size: 23px;
}
.larger {
    font-size: 17.5px;
    text-align: center;
}
.title:hover .title-p p {
    animation: ttleColorMove 0.5s linear;
    -webkit-animation: ttleColorMove 0.5s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.4s;
}
@keyframes ttleColorMove {
    from {
        color: black;
    }
    to {
        color: var(--white);
    }
}
.title:hover .title-p {
    animation: titleBorderMove 0.5s linear;
    -webkit-animation: titleBorderMove 0.5s linear;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}
@keyframes titleBorderMove {
    from  {
        border: 2px solid black;
    }
    to {
        border: none;
    }
}
.box1 , .box2  {
    width: 50%;
    height: 100%;
    
}
.title:hover .box1 {
    animation: boxMove1 0.5s linear;
    -webkit-animation: boxMove1 0.5s linear;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
 @keyframes boxMove1 {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 50%;
        height: 100%;
        background-color: var(--sky-blue);
    }
}
.title:hover .box2 {
    animation: boxMove2 0.5s linear;
    -webkit-animation: boxMove2 0.5s linear;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes boxMove2 {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 50%;
        height: 100%;
        background-color: var(--sky-blue);
    }
} 
.circle1 , .circle2{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--sky-blue);
    
}
.title:hover .circle1 {
    animation: circleMove1 0.5s linear;
    -webkit-animation: circleMove1 0.5s linear;
    animation-fill-mode: forwards;
}
@keyframes circleMove1 {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
to {
    transform: translateX(80px);
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
    display: none;
}
}

.title:hover .circle2 {
    animation: circleMove2 0.5s linear;
    -webkit-animation: circleMove2 0.5s linear;
    animation-fill-mode: forwards;
}
@keyframes circleMove2 {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
to {
    transform: translateX(-80px);
    -webkit-transform: translateX(-80px);
    -moz-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    -o-transform: translateX(-80px);
    display: none;
}
}
.read-more {
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.read-more i {
    width: 30px;
}
.read-more a {
    font-weight: bold;
    color: var(--sky-blue);
    text-decoration: none;
}
.article-icons:hover {
    margin-top: 35px;
    box-shadow: 0px 7px 14px 2px rgba(0, 0, 0, 0.336);
}
.article-icons:hover .read-more i{
    animation: move 0.5s linear infinite;
    -webkit-animation: move 0.5s linear infinite;
}
@keyframes move {
        0% {
            width: 25px;
        }
        50% {
            width: 30px;
        }
        100% {
            width: 35px;
        }
    }

.icons {
    margin-top: 50px;
    padding: 0px 20px;
    
}
.icon {
    top: 0px;
    width: 100%;
    margin: 20px 0px;
    box-shadow: 0px 4px 8px 1px #00000038;
    position: relative;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.icon img {
    width: 100%;
}
.icon-p {
    padding: 10px;
}
.icon-p p{
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.685);
}
.icon-read-more {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
    cursor: pointer;
}
.icon-read-more a {
    color: var(--sky-blue);
    font-weight: bold;
    text-decoration: none;
}
.icon-read-more i {
    margin-right: 20px;
}
.icon:hover {
    box-shadow: 3px 8px 8px 1px #00000038;
    top: -5px;
}
.icon:hover .icon-read-more i {
    margin-right: 0px;
    animation: moving 1s infinite;
    -webkit-animation: moving 1s infinite;
}
@keyframes moving {
    0% {
        margin-right:20px;
    }
    50% {
        margin-right:10px;
    }
    100%{
        margin-right:20px;
    }
}
.borders{
    width: 100%;
    overflow: hidden;
}
.gallery {
    width: 100%;
    margin-top: 50px;
    background-color: #ddd;
    padding: 40px 10px;
}
.gallery-pics {
    margin: 30px;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    flex-direction: column;
    row-gap: 50px;
}
.gallery-pic {
    border: 15px solid white;
    background-color: white;
    overflow: hidden;
}
.gallery-pic img {
    width: 100%;
    transition:all 0.1s linear;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    -ms-transition:all 0.1s linear;
    -o-transition:all 0.1s linear;
    overflow: hidden;
}
.gallery-pic:hover img {
    transform: rotate(3deg) scale(1.1,1.1);
    -webkit-transform: rotate(3deg) scale(1.1,1.1);
    -moz-transform: rotate(3deg) scale(1.1,1.1);
    -ms-transform: rotate(3deg) scale(1.1,1.1);
    -o-transform: rotate(3deg) scale(1.1,1.1);
    animation: opacity-move 0.3s;
    -webkit-animation: opacity-move 0.3s;
}
@keyframes opacity-move {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.8;
    }
    100%{
        opacity: 1;
    }
}
.features {
    margin-top: 50px;
}
.features-pics {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
}
.features-pic {
    width: 100%;
    flex-direction: column;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.212);
    margin: 20px 0px;
}
.pic-triangle-1,
.pic-triangle-2,
.pic-triangle-3 {
    background-image: linear-gradient(rgba(165, 32, 32, 0.514),
    rgba(148, 30, 30, 0.753)), url(https://i.ibb.co/Msfn4Tm/features-01.jpg);
    width: 100%;
    height:90vh;
    position: relative;
    background-size: cover;
}
.pic-triangle-2 {
    background-image: linear-gradient(rgba(45, 160, 180, 0.644),
    rgba(45, 160, 180, 0.644)), url(https://i.ibb.co/DKTbnv1/features-02.jpg);
}
.pic-triangle-3 {
    background-image: linear-gradient(rgba(81, 212, 230, 0.418),
    rgba(81, 212, 230, 0.418)), url(https://i.ibb.co/5Bg9rL5/features-03.jpg);
}
.triangle {
    width:100%;
    height: 50%;
    clip-path: polygon(100% 46%, 0% 100%, 100% 100%);
    background-color: var(--white);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    position: absolute;
    top: 50.5%;
    right: 0;
}
.quality {
    text-align: center;
}
.qua-border-red,
.qua-border-dark-blue,
.qua-border-sky-blue {
    width: 80px;
    height: 5px;
    background-color: var(--red);
    margin-top: 15px;
}
.qua-border-dark-blue {
    background-color: var(--dark-blue);
}
.qua-border-sky-blue {
    background-color: var(--sky-blue);
}
.features-pic p {
    margin-top: 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.411);
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.more-red,
.more-dark-blue,
.more-sky-blue {
    margin: 30px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 110px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    position: relative;
    border: 3px solid var(--red);
    color: var(--red);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.more-dark-blue {
    border: 3px solid var(--dark-blue);
    color: var(--dark-blue);
}
.more-sky-blue {
    border: 3px solid var(--sky-blue);
    color: var(--sky-blue);
}
.more-red::before,
.more-dark-blue::before,
.more-sky-blue::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: var(--red);
    position: absolute;
    left:0px;
    z-index: -1;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.more-dark-blue::before {
    background-color: var(--dark-blue);
}
.more-sky-blue::before {
    background-color: var(--sky-blue);
}
.features-pic:hover .more-red::before,
.features-pic:hover .more-dark-blue::before,
.features-pic:hover .more-sky-blue::before {
    width: 100%;
}
.features-pic:hover .more-red,
.features-pic:hover .more-dark-blue,
.features-pic:hover .more-sky-blue {
    color: var(--white);
}
.features-pic:hover .triangle {
    clip-path: polygon(0% 46%, 0% 100%, 100% 100%);
}










.testimonials {
    margin-top: 40px;
    flex-direction: column;
    background-color: #ddd;
    padding: 40px 15px 10px 15px;
}
.testi-icons {
    margin-top: 80px;
}
.testi-data {
    background-color: var(--white);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 15px;
}
.testi-data p {
    margin: 10px 0px;
    color: rgba(0, 0, 0, 0.644);
    font-size: 15px;
    padding: 0px 15px 0px 0px;
}
.stars i {
    font-size: 17px;
}
.testi-icon {
    position: relative;
    margin-bottom: 40px;
}
.testi-icon img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 10px solid #ddd;
    z-index: 10;
    right: 0;
    top: -50px;
}
.team-members {
    margin: 50px 0px;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.team-members-collection {
    width: 100%;
    margin-top: 50px;
}
.team-member {
    width: 100%;
    height: 100vw;
    justify-content: flex-end;
    margin: 30px auto;
}
.team-member-back {
    width: 85%;
    background-color: #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 25px;
    position: relative;
    height: 100%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.team-member-icons {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
}
.team-member-icons i {
    margin: 20px 0;
    font-size: 15px;
}
.team-member-data h3 {
    color: var(--sky-blue);
}
.back-team-img {
    position: absolute;
    width: 95%;
    top:10%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    left: -50px;
    height: 70%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.team-member:hover .team-member-back{
    box-shadow: inset -600px 0 0 0 #c4b8b848;
}
.team-member:hover .back-team-img{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.services {
    flex-direction: column;
    background-color: #eee;
}
.services .title {
    margin: 80px 0;
}
.services-icons {
    padding: 10px;
    width: 100%;
}
.service-icon {
    width: 100%;
    height: 200px;
    background-color: var(--white);
    margin:40px 0;
    box-shadow: 1px 1px 10px 2px #00000024;
    position: relative;
    transition: top 0.2s linear;
    -webkit-transition: top 0.2s linear;
    -moz-transition: top 0.2s linear;
    -ms-transition: top 0.2s linear;
    -o-transition: top 0.2s linear;
    top: 0px;
}
.left-half ,
.right-half {
    width: 50%;
    height: 3px;
    background-color: transparent;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.service-icon:hover .left-half {
    box-shadow: inset -350px 0 0 0 var(--sky-blue);
}
.service-icon:hover .right-half {
    box-shadow: inset 350px 0 0 0 var(--sky-blue);
}
.service-icon:hover {
    top: -10px;
}
.service-icon i {
    margin: 60px auto 30px;
    font-size: 50px;
    width: 100%;
    text-align: center;
}
.service-icon h2 {
    color: var(--sky-blue);
    text-align: center;
    margin-bottom: 25px;
}
.details {
    width: 100%;
    height: 50px;
    background-color: #eeeeee88;
    justify-content: space-between;
    position: relative;
}
.shape-number {
    width: 100px;
    height: 100%;
    background-color: var(--sky-blue);
    clip-path: polygon(0 0, 100% 0, 55% 100%, 0 100%);
    color: var(--white);
    font-weight: bold;
    font-size: 30px;
    padding: 5px 0 0 15px;
    box-shadow: 0 0 0 0 black;
}
.shape-number-back {
    position: absolute;
    width: 100px;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.315);
    clip-path: polygon(0 0, 100% 0, 55% 100%, 0 100%);
    left: 50px;
}
.details a {
    text-decoration: none;
    color: var(--sky-blue);
    margin-right: 15px;
}
.skills {
    margin: 70px 0px;
    flex-direction: column;
}
.pic-skill-icons {
    width: 100%;
}
.pic-skill-icons img {
    display: none;
}
.percentage-icons {
    margin-top: 50px;
    width: 100%;
}
.per-icon-data {
    justify-content: space-between;
}
.per-icon-html , 
.per-icon-css ,
.per-icon-js {
    margin-top: 15px;
    padding: 0px 15px;
}
.per-icon-data span {
    color: var(--sky-blue);
    border: 1px solid rgba(0, 0, 0, 0.247);
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
}
.per-icon-shape {
    margin-top: 20px;
    width: 100%;
    height: 30px;
    background-color: #eee;
    position: relative;
}
.per-icon-shape-number {
    width: 0%;
    height: 100%;
    background-color: var(--sky-blue);
    position: absolute;
}

.html {
    animation: percentage-html 0.5s linear;
    -webkit-animation: percentage-html 0.5s linear;
}
.css {
    animation: percentage-css 0.5s linear;
    -webkit-animation: percentage-css 0.5s linear;
}
.js {
    animation: percentage-js 0.5s linear;
    -webkit-animation: percentage-js 0.5s linear;
}

@keyframes percentage-html {
    0% {
        width:0%;
    }
    100% {
        width: 80%;
    }
}
.html {
    width: 80%;
}
@keyframes percentage-css {
    0% {
        width:0%;
    }
    100% {
        width: 85%;
    }
}
.css {
    width: 85%;
}
@keyframes percentage-js {
    0% {
        width:0%;
    }
    100% {
        width: 70%;
    }
}
.js {
    width: 70%;
}
.how-it-works {
    flex-direction: column;
    background-color: #eee;
}
.how-it-works .title {
    margin: 50px 0;
}
.how-it-works-img {
    margin: 30px auto;
    width: fit-content;
    
}
.how-it-works-img img {
    margin:  auto ;
    width: 100%;
}
.how-it-works-steps {
    width: 100%;
    padding: 20px;
}
.step1 {
    margin: 20px 0;
    width: 100%;
    background-color: #f6f5f5;
    border: 1px solid white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    flex-direction: column;
    position: relative;
}
.step1 img {
    width: 70px;
    height: 70px;
    margin: 30px 0;
    z-index: 10;
}
.step1 h2 {
    z-index: 10;
}
.step1 p {
    margin: 30px 0;
    text-align: center;
    padding: 0 20px;
    color: rgba(0, 0, 0, 0.534);
    z-index: 10;
}
.back-element {
    position: absolute;
    width: 0%;
    height: 0%;
    background-color: #eeeeeea9;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.step1:hover .back-element {
    width: 100%;
    height: 100%;
}
.letest-events {
    flex-direction: column;
    margin: 60px 0;
    position: relative;
}
.img-collection {
    width: 100%;
}
.img-collection img {
    display: none;
}
.latest-collection {
    width: 100%;
    flex-direction: column;
}
.latest-icon {
    width: 90px;
    height: 150px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    margin: 0 10px;
}
.latest-icon:hover {
    border: 1px solid var(--sky-blue);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.latest-icon:hover p {
    border-top: 1px solid var(--sky-blue);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.latest-icons {
    margin: 30px 0;
}
.latest-icon {
    flex-direction: column;
    justify-content: space-evenly;
}
.latest-icon h1 {
    color: var(--sky-blue);
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.latest-icon p {
    border-top: 1px solid rgba(0, 0, 0, 0.295);
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.latest-p {
    margin: 20px 0;
    text-align: center;
    color:rgba(0, 0, 0, 0.411) ;
    font-weight: bold;
    padding: 10px;
}
.latest-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: var(--sky-blue);
    width: 90%;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    line-height: 50px;
}
.latest-input {
    padding: 20px;
    flex-direction: column;
    width: 95%;
    height: 150px;
    background-color: #eee;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.latest-input input {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    caret-color: var(--sky-blue);
}
.latest-input input::placeholder {
    color: rgba(0, 0, 0, 0.418);
    font-weight: bold;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
.latest-input a {
    width: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: var(--sky-blue);
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    line-height: 50px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}
.latest-input a:hover {
    background-color: var(--dark-blue);
}
.latest-input input:focus::placeholder {
    color: transparent;
}
.latest-circles-1 {
    display: none;
}
.latest-circles-2 {
    display: none;
}
.pricing {
    flex-direction: column;
    background-color: #eee;
    margin:50px 0;
    position: relative;
}
.pricing .title {
    margin: 40px 0 ;
}
.pricing-icons-total {
    width: 100%;
    padding: 15px;
}
.pricing-icon {
    width: 100%;
    margin: 20px 0;
    box-shadow: 0px 1px 14px 0px #00000066;
}
.pricing-icon-part1 {
    padding: 25px 0 0 0;
    background-color: var(--white);
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    position: relative;
}
.pricing-icon-part1 img {
    margin-top: 50px;
    width: 80px;
    height: 80px;
}
.dollar {
    margin-top: 40px;
    font-size: 50px;
    color: var(--sky-blue);
    font-weight: bold;
}
.lite {
    color: rgba(0, 0, 0, 0.699);
    margin-bottom: 15px;
}
.right-p {
    padding: 0 20px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.212);
    padding: 20px 0;
}
.right-p i {
    font-size: 20px;
    margin:0 15px;
}
.pricing-icon:hover .pricing-icon-part1 {
    box-shadow: inset 800px 0px 0px 0px #e4dfdfb7;
}
.pricing-icon-part2 {
    padding: 0 0 25px 0;
    background-color: var(--white);
    transition: all 0.6s linear;
    -webkit-transition: all 0.6s linear;
    -moz-transition: all 0.6s linear;
    -ms-transition: all 0.6s linear;
    -o-transition: all 0.6s linear;
    flex-direction: column;
}
.pricing-icon:hover .pricing-icon-part2 {
    box-shadow: inset -800px 0px 0px 0px #e4dfdfb7;
}
.choose-plan {
    width: 150px;
    height: 50px;
    border: 2px solid var(--sky-blue);
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    color: var(--sky-blue);
    font-weight: bold;
    justify-content: center;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    cursor: pointer;
    margin-top: 30px;
}
.choose-plan:hover {
    color: var(--white);
    background-color: var(--sky-blue);
}
.most-popular {
    width: 150px;
    height: 40px;
    background-color: var(--sky-blue);
    font-weight: bold;
    color: var(--white);
    padding: 10px;
    position: absolute;
    clip-path: polygon(100% 0, 85% 50%, 100% 100%, 0 100%, 0 0);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    top: 54px;
    right: -30px;
}
.latest-circle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--sky-blue);
    margin: 5px;
}
.pricing .latest-circles-1,
.pricing .latest-circles-2 {
    position: absolute;
}
.top-videos {
    flex-direction: column;
    margin: 50px 0;
    background-color: var(--white);
    width: 100%;
    padding: 15px;
}
.videos-icon {
    width: 100%;
    margin-top: 50px;
    border: 2px solid #eee;
}
.videos-data {
    width: 100%;
    
}
.vid-title {
    background-color: #eee;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.vid-title h3 {
    font-size: 15px;
}
.vid-title i {
    font-size: 15px;
}
.vid-data-icon {
    width: 100%;
    padding: 15px;
    border-top: 1px solid #eee;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    cursor: pointer;
}
.vid-data-icon a {
    text-decoration: none;
    color: black;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.vid-data-icon .lite {
    margin: 10px 0 0;
}
.vid-data-icon:hover a {
    color: var(--sky-blue);
}
.vid-data-icon:hover {
    background-color: #eeeeee98;
}
.vid-img {
    width: 100%;
    padding: 15px;
    background-color: #eee;
}
.vid-img img {
    width: 100%;
}
.vid-img p {
    width: 100%;
    background-color: var(--white);
    padding: 15px;
    margin-top: 10px;
}
.awesome-stats {
    flex-direction: column;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.945),
    rgba(255, 255, 255, 0.89)), url(stats.jpg);
    padding: 20px;
}
.awesome-icons {
    margin: 30px 0;
    width: 100%;
}
.awesome-icon {
    flex-direction: column;
    width: 98%;
    background-color: var(--white);
    height: 200px;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 15px;
}
.awesome-icon p {
    color: var(--sky-blue);
    font-weight: bold;
    font-size: 25px;
}
.awesome-icon i {
    color: rgba(0, 0, 0, 0.678);
    margin-top: 10px;
    font-size: 35px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
.awesome-icon h1 {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.678);
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
.line-1 , .line-2{
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
.line-2 {
    left: 100%;
}
.awesome-icon:hover .line-1 {
    box-shadow: inset -1px -300px 0 0 var(--sky-blue);
}
.awesome-icon:hover .line-2 {
    box-shadow: inset -1px 300px 0 0 var(--sky-blue);
}
.awesome-icon:hover i ,
.awesome-icon:hover h1 {
    color: black;
}
.discount-sec {
    width: 100%;
}
.discount {
    width: 100%;
    flex-direction: column;
    animation: discountMove 10s ease-in-out infinite alternate;
    -webkit-animation: discountMove 10s ease-in-out infinite alternate;
    background-size: contain;
    position: relative;
}
@keyframes discountMove {
    0%{
        background-image: url(discount-background1.jpg);
    }
    50% {
        background-image: url(discount-background2.jpg);
    }
    100%{
        background-image: url(discount-background1.jpg);
    }
}
.all {
    width: 100%;
    height: 100%;
    background-color: #1f9cdff5;
    z-index: 10;
    position: absolute;
}
.discount h1 {
    margin: 30px 0;
    color: var(--white);
    z-index: 11;
}
.discount p {
    margin-bottom: 30px ;
    text-align: center;
    padding: 20px;
    color: var(--white);
    z-index: 11;
}
.discount img {
    width: 300px;
    height: 300px;
    z-index: 11;
}
.discount-input {
    flex-direction: column;
}
.discount-input input ,
.discount-input textarea
{
    margin: 10px 0;
    width: 300px;
    height: 50px;
    background-color: #eeeeee81;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
    padding: 15px;
    caret-color: var(--sky-blue);
}
.discount-input h1 {
    margin: 20px 0;
}
.discount-input textarea {
    height: 200px; 
    outline: none; 
    border: none;
    resize: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.24);
}
.discount-input input:nth-child(6) {
    background-color: var(--sky-blue);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    width: 300px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.discount-input input:nth-child(6):hover {
    background-color: var(--dark-blue);
}
footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.842);
}
.foot-sec1 {
    width: 100%;
    flex-direction: column;
}
.foot-sec1 h1 {
    color: var(--white);
    font-size: 35px;
}
.foot-sec1 i {
    width: 50px;
    height: 50px;
    background-color: #dddddd28;
    margin: 15px;
}
.foot-fonts i {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:all 0.2s linear ;
    -webkit-transition:all 0.2s linear ;
    -moz-transition:all 0.2s linear ;
    -ms-transition:all 0.2s linear ;
    -o-transition:all 0.2s linear ;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.foot-fonts i:nth-child(1):hover {
    background-color: blue;
}
.foot-fonts i:nth-child(2):hover {
    background-color: var(--sky-blue);
}
.foot-fonts i:nth-child(3):hover {
    background-color: red;
}
.foot-sec1 p {
    color: var(--grey);
    text-align: center;
    padding: 20px;
}
.foot-sec2 {
    flex-direction: column;
}
.font-link {
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    height: 50px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    width: 100%;
    justify-content: center;
}
.font-link i {
    font-size: 15px;
    margin-right: 15px;
}
.font-link a {
    text-decoration: none;
    color: var(--grey);
}
.font-link:hover {
    margin-left: 20px;
}
.foot-data {
    margin-top: 30px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.data-font-p {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
}
.data-font-p p {
    text-align: center;
    margin-top: 15px;
    color: var(--grey);
}
.data-font-p:nth-last-child(1) p:nth-last-child(1) {
    margin-top: 0px;
}
.foot-imgs {
    width: 100%;
    flex-wrap:wrap ;
    gap: 10px;
    justify-content: center;
    padding: 30px 0;
}
.foot-imgs img {
    width: 80px;
    height: 80px;
    border: 4px solid white;
}
.foot-last-p {
    flex-direction: column;
}
.end {
    padding-top: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.842);
}
.end p {
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.199);
    font-weight: bold;
    color: var(--grey);
    text-align: center;
}
/******************************************************************/












@media (max-width:600px) {
}
@media (min-width:700px) {
    header {
        flex-direction: row;
        padding:0px 20px;
        justify-content: space-between;
        height: 70px;
    }
    .head-list {
        width: 100%;
        justify-content: flex-end;
    }
    .head-list ul {
        height: 100%;
        width: 90%;
        margin-top: -3px;
    }
    .head-list ul li  {
        height: 100%;
    }
    .head-list ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 19px;
        height: 68px;
    }
    .back-text {
        padding: 0px 120px;
    }
    .back-text h1 {
        font-size: 40px;
    }
    .back-text p {
        font-size: 23px;
    }
    .other-links {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 380px;
        padding: 50px 70px 50px 70px;
        gap: 5px 80px;
        border-bottom: 3px solid var(--sky-blue);
        width: 80%;
        margin: 0px auto;
    }
    .other-links div {
        height: 40px;
        width: 47%;
    }
    .intro-background {
        margin-top: -20px;
    }
    .other-links div:hover::before {
        width: 29%;
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        column-gap: 20px;
    }
    .gallery-pics {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        column-gap: 20px;
        padding: 30px 100px;
    }
    .features-pics {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 20px;
    }
    .testi-icons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,1fr);
        column-gap: 50px;
    }
    .team-members-collection {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    }
    .team-member {
        height: 60vw;
    }
    .services-icons {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        column-gap: 30px;
    }
    .pricing-icons-total {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 20px;
    }
    .awesome-icons {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 10px;
    }
    footer {
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 30px;
    }
    .foot-sec1 {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .foot-fonts {
        margin-left: -10px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .foot-sec1 p {
        text-align: start;
        margin-left: -10px;
    }
    .font-link {
        justify-content: flex-start;
    }
    .foot-data {
        margin-top: -20px;
    }
    .foot-imgs {
        margin-top: -20px;
    }
}







@media (min-width:840px) {
    .other-links div:hover::before {
        width: 30.5%;
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        column-gap: 20px;
    }
    .testi-icons {
        padding: 0px 50px;
    }
    .percentage-icons {
        padding: 0 100px ;
    }
    
    .step1 {
        width: 80%;
        margin: 20px auto;
    }
    .latest-input {
        flex-direction: row;
        height: 100px ;
        justify-content: space-between;
        width: 40%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }
    .latest-input input {
        width: 70%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }
    .latest-input a {
        width: 20%;
        border-radius: 40px;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
}
.latest-p {
    width: 65%;
}
.pricing-icons-total {
    margin: 0 500px;
}
.videos-icon {
    width: 80%;
}
.awesome-icons {
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 10px;
}
footer {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.data-font-p{
    flex-direction: row;
}
.foot-last-p {
    margin-left: 15px;
}
.data-font-p p{
    margin-left: 15px;
}
}







@media (min-width:1000px) {
    .back-text {
        padding: 0px 30px 0px 60px ;
        display: flex;
    }
    .back-text img {
        display: block;
        width: 600px;
        height: 400px;
        margin-top: -100px;
        animation: introMove 6s infinite linear;
        -webkit-animation: introMove 6s infinite linear;
        z-index: 150;
}
@keyframes introMove {
    0% {
        margin-top: -100px;
    }
    50% {
        margin-top: -200px;
    }
    100%{
margin-top: -100px;
    }
}
.back-text h1 , 
.back-text p {
    text-align: start;
}
.other-links img {
    display: block;
    width: 350px;
    height: 200px;
    margin: 50px 0px 0px -30px;;
}
.other-links div:hover::before {
    width: 20%;
}
header {
    padding: 0px 80px;
}
.head-list {
    width: 73%;
}
.other-links {
    width: 95%;
}
.other-links div {
    width: 25%;
}
.other-links div:hover::before {
    width: 21%;
}








.icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    column-gap: 20px;
}
.icon:hover .icon-read-more i {
    margin-right: 0px;
    animation: moving 1s infinite;
    -webkit-animation: moving 1s infinite;
}
@keyframes moving {
    0% {
        margin-right:0px;
    }
    50% {
        margin-right:20px;
    }
    100%{
        margin-right:0px;
    }
}

.services-icons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 30px;
}
.percentage-icons {
    padding: 0 30px;
}
.pic-skill-icons img {
    display: block;
}
.how-it-works-section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
}
.how-it-works-img {
    margin: auto;
}
.img-collection-img {
    width: 100%;
}
.img-collection img {
    margin: auto;
    display: block;
    width: 400px;
}
.pricing-icons-total {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
}
.middle {
    position: relative;
    top: -15px;
}
.videos-icon {
    width: 900px;
}
.videos-icon {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(1,1fr);
}
.videos-data {
    border-right-color: transparent ;
}
.vid-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.discount-sec {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,1fr);
}
footer {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
}
}






@media (min-width:1200px) {
    
.other-links img {
    width: 500px;
    height: 300px;
    margin-top: 10px;
}
.head-list {
    width: 60%;
}
.other-links div {
    width: 23%;
}
.other-links div:hover::before {
    width: 19.5%;
}
.icons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 20px;
}
.gallery-pics {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 20px;
    padding: 30px 100px;
}
.features-pics {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
}
.testi-icons {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.team-members-collection {
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.team-member {
    height: 40vw;
}
.services-icons {
    padding: 0 60px;
}
.img-collection {
    width: 80%;
}
.videos-icon {
    width: 1100px;
}
.awesome-icons {
    width: 90%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
}
}

@media (min-width:1300px) {
    .latest-circles-1,
    .latest-circles-2 {
        margin-bottom: -30px;
        display: flex;
        position: absolute;
        bottom: 0px;
        width: 180px;
        height: 200px;
        flex-wrap: wrap;
    }
    .latest-circles-1 {
        left: 0px;
    }
    .latest-circles-2  {
        top: 0px;
        right: 0;
    }
    .pricing-icons-total {
        width: 80%;
        z-index: 10;
    }
}